@page
@model IndexModel
@{
    ViewData["Title"] = "Test page ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to azure </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" app service from Github  </a>.</p>
</div>
